body{
  position: center;
  background-color: #f5f5f5;
  height: 100%;
}
.card-container{
  background-color: #011f3a;
  margin: 20px;
  border-radius: 20px;
}
.Title{
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}
