<body>
  <div class="container">
    <div class="card card-container">
      <div class="row" style="margin: 20px">
        <div class="col-12">
          <div class="Title">
            <span>TODOLIST</span>
          </div>
        </div>
        <div class="col-12">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="เพิ่มรายชื่อหนัง"
              [(ngModel)]="movie.name"
              (keyup.enter)="addMovie()"
            />
            <button class="btn btn-success" type="button" (click)="addMovie()">
              <i class="bi bi-plus"></i>
            </button>
          </div>
        </div>
        <hr />
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <ng-container *ngIf="listNameMovies">
                  <div class="col-10">
                    <span>รายการหนังที่ได้ทำการบันทึก</span>
                  </div>
                  <div
                    class="col-2"
                    style="text-align: end; margin-left: -35px"
                  >
                    <span>เครื่องมือ</span>
                  </div>
                </ng-container>
                <hr />

                <ng-container
                  *ngFor="let list of listNameMovies; let i = index"
                >
                  <div class="row">
                    <div class="col-12">
                      <div class="form-check">
                        <div class="row">
                          <div class="col-10">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="flexCheckDefault"
                              (click)="convertStringBoolean(i)"
                              [checked]="list.status"
                              [disabled]="list.status"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault"
                            >
                              {{ list.name ? list.name : "ไม่มีชื่อหนัง" }}
                            </label>
                          </div>
                          <div class="col-2" style="text-align: center">
                            <div class="row">
                              <div class="col-6" style="text-align: end">
                                <button
                                  type="button"
                                  class="btn btn-warning"
                                  data-toggle="modal"
                                  data-target="#exampleModal"
                                  (click)="updateMovie(list.id)"
                                >
                                  <i class="bi bi-pencil-square"></i>
                                </button>
                              </div>
                              <div class="col-6" style="text-align: start">
                                <button
                                  type="button"
                                  class="btn btn-danger"
                                  (click)="deleteMovie(list.id)"
                                >
                                  <i class="bi bi-trash"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            แก้ไขชื่อหนัง
                          </h5>
                          <button
                            type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="แก้ไขชื่อหนัง"
                            [(ngModel)]="newName"
                          />
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                          >
                            ปิด
                          </button>
                          <button
                            type="button"
                            class="btn btn-success"
                            data-dismiss="modal"
                            aria-label="Close"
                            (click)="upDataSuccess(list.id)"
                          >
                            ยืนยันการแก้ไข
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <hr style="margin-top: 20px" />
                <div class="col-6" style="text-align: end">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="clearForm()"
                  >
                    <i class="bi bi-stars"></i> ยกเลิกการเลือกทั้งหมด
                  </button>
                  <!-- {{ listNameMovies | json }} -->
                </div>
                <div class="col-6" style="text-align: start">
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="submitForm()"
                  >
                    <i class="bi bi-arrow-up-right-circle-fill"></i>
                    ยืนยันการเลือก
                  </button>
                  <!-- {{ listNameMovies | json }} -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
